* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0a283b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 20rem;
    height: 35rem;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem 0.5rem;
    width: 85%;
}

.roll-button {
    display: flex;
    align-items: center;
    text-align: center;

    margin-top: 2rem;
    font-weight: 700;
    font-size: 1rem;
    background-color: #7863ff;
    color: white;
    padding: 1rem 3rem;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002E;
    border: none;
    cursor: pointer;
}

.roll-button:active {
    background-color: #533ce7;
}

@media (min-width: 576px) {
    main {
        width: 35rem;
        height: 35rem;
    }
    .dice-container {
        width: 75%;
        gap: 1.5rem;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 3000px) {
    html {
        font-size: 35px;
    }
}

@media (min-width: 3600px) {
    html {
        font-size: 42px;
    }
}