* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.dice-container {
    width: 35rem;
    height: 35rem;
    background-color: #F5F5F5;
    border-radius: 10px;
}